.l-footer {
  position: relative;
  color: $white;
  background-color: $gray-900;
}

.l-footer__top {
  padding: 1rem 0;

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
    text-align: center;

    & .instabutton {
      max-width: 280px;
    }

    & .l-footer__item {
      padding-bottom: .5rem;
    }
  }
}

.l-footer__bottom {
  padding: 1rem 0;
}

.l-footer__copyright {
  text-align: center;
}
