/** General layouts */
.l-main {

  &--common {
    @include make-col-ready();
    @include make-col-auto();
  }

  &--with-sidebar {
    @include media-breakpoint-up(md) {
      border-right: 1px solid $color-gray-border;
    }
  }
}

.l-sidebar {
  @include make-col-ready();

  &--common {
    @include make-col(4);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &--front-page {
    @include make-col(3);
    border-right: 1px solid $color-gray-border;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.sidebar-element {
  padding-top: .625rem;
}

.front-page-content {
  border-right: 1px solid $color-gray-border;

  @include media-breakpoint-down(lg) {
    border: 0;
  }
}

.sidebar-support {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.entry-content img {
  @include img-fluid();
}

.title-recent {
  font-size: 1.75rem;
}

.ncm-image {
  &--desktop {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &--mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.tagcloud a,
.catcloud a {
  font-family: "Scada", sans-serif;
  color: $white;
  background-color: transparent;
  margin: .25rem .125rem;
  padding: .25rem .5rem;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid $white;
  transition: color .5s, background-color .5s;

  @include hover-focus {
    text-decoration: none;
    background-color: $primary;
  }
}
