/** Header Layout **/
.l-header {
  position: relative;
  color: $white;
  background-color: $gray-900;
}

.l-header__top {
  display: none;

  @include media-breakpoint-up(md) {
    display: block
  }
}

.l-header__middle {
  display: flex;
  align-items: center;
  height: 80px;
  color: $white;
  background-color: $gray-900;

  @include media-breakpoint-up(md) {
    color: $gray-900;
    background-color: $white;
    height: auto;
  }
}

.l-header__bottom {
  display: none;

  @include media-breakpoint-up(md) {
    display: block
  }
}

.sticky-header {
  z-index: 999;
  animation: slide-up .7s;

  @include media-breakpoint-only(md) {
    height: 160px;
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(57,63,72,.3);
  }
}

.sticky-header[data-scroll="in"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(57,63,72,.3);
  animation: slide-down .7s;

  @include media-breakpoint-only(md) {
    height: 160px;
  }
}

.l-header-col {
  @include media-breakpoint-up(sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.l-header-col--nav {
  @include media-breakpoint-down(md) {
    @include make-col(12);
    order: 3;
  }
}

.l-header-col--buttons {
  @include media-breakpoint-down(md) {
    text-align: right;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.l-header-col--buttons-mobile {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
