.entry-title {
  margin-top: 1rem;
  font-size: 1.75rem;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.entry-title--video {
  font-size: 2rem;
}

.entry-content p a {
  background-color: transparent;
  color: #212529;
  text-decoration: none;
  transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  border-bottom: 3px solid #9cfcdf;
  box-shadow: inset 0 -4px 0 #9cfcdf;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;

  @include hover-focus() {
    background-color: #9cfcdf;
    color: #212529;
  }
}

