.sfm-sidebar-close:after,
.sfm-sidebar-close:before {
  background-color: $gray-900!important;
}

.sfm-navicon-button.sf_label_default {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.widget_post_views_counter_list_widget {
  padding-top: 1.5rem;
}

.widget_post_views_counter_list_widget h3 {
  margin-bottom: 0;
  border-bottom: 1px solid #d2d2d2;
}

.widget_post_views_counter_list_widget ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.widget_post_views_counter_list_widget li {
  word-wrap: break-word;
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem 0;

  &:last-child {
    border: none;
  }
}

.widget_post_views_counter_list_widget .post-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  color: #222;

  @include hover-focus {
    color: #047351;
    text-decoration: underline;
  }
}

.nav-footer {
  flex-direction: column;
}

.title-recent {
  border-bottom: 1px solid $color-gray-border;
}

.ncm-related-posts-list {
  @include list-unstyled;

  &__item {
    padding-top: .625rem;
    padding-bottom: .625rem;
  }
}

.ncm-related-posts-list__title {
  font-size: 1rem;
}

.l-header-col--logo {
  @include media-breakpoint-down(sm) {
    width: auto;
  }
}

.l-header-col--buttons {
  @include media-breakpoint-down(sm) {
    max-width: 80%;
  }
}

.live-flash {
  height: .75rem;
  width: .75rem;
  display: inline-block;
  border-radius: 50%;
  background: $secondary;
  margin-right: 0.5rem;
  animation: flash linear 1s infinite;
}

.mobile-menu-button {
  position: relative;
  width: 32px;
  height: 32px;
}

.mobile-menu-button span {
  display: block;
  width: 32px;
  height: 2px;
  margin-top: 8px;
  background: $white;
}

.market-description__img img {
  @include img-fluid;
}

div.wpforms-container-full .wpforms-form button[type="submit"] {
  width: 100%;
}

.streams-timetable-wrap {
  height: 180px;
  overflow-y: scroll;
  border: 1px solid #DADDE0;
}

.streams-timetable__title {
  color: $white;
  background-color: $primary;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem;
}

.streams-timetable-list {
  @include list-unstyled;
}

.streams-timetable-list__item {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #DADDE0;
  &:last-child {
    border: 0;
  }
}

.streams-timetable-list__item-wrap {
  padding: 0 1rem;
}

.streams-timetable-list__link {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  color: #242528;
}

.streams-timetable-list__time {
  color: #999999;
}

.streams-timetable-list__speakers {
  color: #06BD85;
}

.more-videos .alm-reveal {
  @include make-row();
}
.more-videos .alm-layouts .alm-listing .alm-layout {
  @extend .l-col-sm-6;
}

.more-videos__image {
  width: 100%;
  height: auto;
}

.more-videos .alm-layouts .alm-listing .alm-layout a {
  font-size: 1rem;
  color: #242528;
}

.entry-share {
  display: inline-block;
}

.video-meta {
  margin-bottom: 1rem;
}

.post-type-archive .alm-listing .alm-paging-content > li, .post-type-archive .alm-listing .alm-reveal > li, .alm-listing > li {
  background: 0 0;
  margin: 0 0 30px;
  padding: 0 0 0 0;
  overflow: hidden;
  position: relative;
  list-style: none;
}

.totalpoll-button-primary:hover, .totalpoll-button-primary:focus, .totalpoll-button-primary:active {
  background: #00bc84;
  color: #FFF;
  border-color: #dddddd!important;
}

.totalpoll-question-choices-item-checked .totalpoll-question-choices-item-control, .totalpoll-question-choices-item-checked:hover .totalpoll-question-choices-item-control, .totalpoll-question-choices-item-checked:focus .totalpoll-question-choices-item-control {
  background: #06bd85!important;
  color: #ffffff;
  border-color: #06bd85!important;
}

.totalpoll-question-content {
  color: #06BD85;
  font-size: 27px!important;
}

.totalpoll-question-choices-item-content-container:after {
  display: none!important;
}

.table-poll-results {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table-poll-results td, .table-poll-results th {
  border: 1px solid #eef1f3;
  padding: .5rem 1rem;
}

.table-poll-results tbody td {
  font-size: .875rem;
}

.table-poll-results thead {
  background: #06bd85;
  border-bottom: 1px solid #eef1f3;
}

.table-poll-results thead th {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.totalpoll-choice-votes {
  display: none!important;
}

.l-header__nav .dropdown-menu {
  display: none;
}

#sfm-sidebar ul.sfm-child-menu {
  margin-left: 1rem;
}

#sfm-sidebar .sfm-menu li.sfm-active-class > a {
  color: #06bd85;
}

#sfm-sidebar.sfm-indicators .sfm-sm-indicator i {
  font-size: 18px;
  font-weight: 900;
}

.category .alm-listing .alm-paging-content>li, .category .alm-listing .alm-reveal>li, .alm-listing>li {
  background: 0 0;
  margin: 0 0 30px;
  padding: 0 0 0 0;
  overflow: hidden;
  position: relative;
  list-style: none;
}

.widget_recent_entries ul {
  list-style: none;
  padding-left: 0;
}

.widget_recent_entries li {

  word-wrap: break-word;
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem 0;
}

.widget_recent_entries h3 {
  margin-bottom: 0;
  border-bottom: 1px solid #d2d2d2;
}

.widget_recent_entries a {
  font-family: Fira Sans,sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  color: #222;
}

.alm-layouts .alm-listing .alm-default.alm-3-col img {
  max-width: 100%!important;
}

.alm-layouts .alm-listing .alm-layout a {
  font-size: 1rem;
  color: #242528;
}

.video-banner {
  margin-bottom: 1rem;
}

.aiovg_videos {
  margin-bottom: 1rem;
}

.ya-share2, .ya-share2 * {
  display: inline-block;
}

.ms-participant-form input.ms-form-name, input.ms-form-email {
  width: 100% !important;
}

.ms-participant-form input.ms-form-email {
  margin-top: 2rem!important;
  margin-bottom: 3rem!important;
}

.ms-participant-form h3 {

}

.voting-container {
  margin: 0 auto;
  max-width: 540px;
}

.survey_header {
  padding-bottom: 0 !important;
  margin: 0!important;
}

.ms-answer-row {
  background: #f6f8f8;
}

.ms-answer-row-selected {
  font-size: 12px;
  background-color: #d5d5d5;
  padding: 3px 5px;
  color: #000;
  border-radius: 0;
  border: 0;
}

.survey_element.survey_endcontent {
  background: none!important;
}

.survey_element.survey_question {
  margin: 0;
}

.survey_question_image {
  padding: 0;
}

.survey-progress-bar .survey-progress-ln {
  height: 16px;
  background: #06BD85;
}

.survey-progress-bar .survey-progress-ln .progress_counter {
  width: 48px;
  height: 16px;
  font-size: 18px;
  font-weight: 700;
}

.l-header__banner {
  background-color: #003c7b;
}

.l-header__banner >
.pz_cont {
  margin: 0 auto;
}

.survey_question, .survey_form {
  margin-left: 0;
  margin-right: 0;
}

.survey_question span {
  font-size: 24px;
  display: none!important;
}

.survey_answers {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 1rem 1% 0 1%;
}

.survey_element .ms-a-label {
  font-size: 1.25rem;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .survey_answers:nth-child(1),
  .survey_answers:nth-child(2),
  .survey_answers:nth-child(3) {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    max-width: 31%;
  }
  .survey_answers:nth-child(4),
  .survey_answers:nth-child(5) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 48%;
    max-width: 48%;
  }
}

@media (max-width: 575.98px) {
  .survey_answers:nth-child(1),
  .survey_answers:nth-child(2),
  .survey_answers:nth-child(3),
  .survey_answers:nth-child(4),
  .survey_answers:nth-child(5) {
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
    max-width: 98%;
  }
}

.survey-progress-bar {
  margin: 1rem 0!important;
}

.survey-progress-bar .survey-progress-ln {
  margin: 0!important;
}

.survey-progress-bar .survey-progress-ln2 {
  height: 100%;
  padding: 0px !important;
  margin: -14px 10px !important;
  display: block;
}

.survey-progress-bar .progress {
  height: 12px;
}

[data-tooltip]::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  margin-bottom: 0;
  padding: 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #000;
  background-color: rgba(16, 18, 87, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-tooltip]::after {
  display: none;
}

.survey_question span {
  color: #ffffff;
  font-family: Fira Sans, sans-serif;
  text-transform: uppercase;
}

.ms-participant-form a.send-participant-form,
.ms-participant-form a.confirm-ms-form {
  font-family: Scada,sans-serif;
  width: 20%;
  border-radius: 0;
  background: #06bd85;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

input.ms-form-name, input.ms-form-email {
  display: inline-block;
  margin: 5px 0px 0px 0px !important;
  width: 50% !important;
  font-size: 14px;
  line-height: 30px;
  text-indent: 10px;
}

.modal-survey-embed .send-participant-form-container, .modal-survey-embed .confirm-ms-form-container, .ms-next-question-container {
  margin-left: 2%!important;
  width: 48%;
  text-align: center;
}

body.voting .l-header__bottom {
  display: none;
}

.ms-plain-results {
  display: flex;
}

.ms-plain-results > .question-onerow {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.ms-plain-results > .final-result,
.ms-plain-results .ms-answer-count,
.ms-plain-results .ms-answer-percentage
{
  display: none;
}

.ms-custom-field ul {
  text-align: left;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .l-wrap {
    margin-top: 0;
  }

  .l-header__banner {
    margin-top: 70px;
  }

  .l-wrap--common {
    padding: 1rem 0;
  }
}

.entry-content blockquote {
  margin-left: 1rem;
  padding-left: 1.5rem;
  border-left: solid #05986b .25rem;
  font-size: 1.125rem;
  font-style: italic;
}

.totalpoll-choice-html h3 {
  display: block;
  font-weight: 700;
  font-size: 1.25rem!important;
}

.totalpoll-question-choices-item-content img {
  margin-right: 16px!important;
}

.entry-content .btn--green{
  color: #fff!important;
  background-color: #06bd85;
  border-color: #fff;
  border-bottom: none;
  box-shadow: none;
  font-size: 2rem;
}

.totalpoll-question-choices-item-type-html .totalpoll-question-choices-item-content {
  width: 100%!important;
}
