@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSansLight.eot');
  src: local('Fira Sans Light'), local('FiraSansLight'),
  url('../fonts/FiraSansLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSansLight.woff') format('woff'),
  url('../fonts/FiraSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSansLight-Italic.eot');
  src: local('Fira Sans Light Italic'), local('FiraSansLight-Italic'),
  url('../fonts/FiraSansLight-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSansLight-Italic.woff') format('woff'),
  url('../fonts/FiraSansLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans.eot');
  src: local('Fira Sans'), local('FiraSans'),
  url('../fonts/FiraSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSans.woff') format('woff'),
  url('../fonts/FiraSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Italic.eot');
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
  url('../fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSans-Italic.woff') format('woff'),
  url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSansMedium.eot');
  src: local('Fira Sans Medium'), local('FiraSansMedium'),
  url('../fonts/FiraSansMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSansMedium.woff') format('woff'),
  url('../fonts/FiraSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSansMedium-Italic.eot');
  src: local('Fira Sans Medium Italic'), local('FiraSansMedium-Italic'),
  url('../fonts/FiraSansMedium-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSansMedium-Italic.woff') format('woff'),
  url('../fonts/FiraSansMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
  url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSans-Bold.woff') format('woff'),
  url('../fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
  url('../fonts/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
  url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Scada';
  src: url('../fonts/Scada-Regular.eot');
  src: local('Scada'), local('Scada-Regular'),
  url('../fonts/Scada-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Scada-Regular.woff') format('woff'),
  url('../fonts/Scada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Scada';
  src: url('../fonts/Scada-Italic.eot');
  src: local('Scada Italic'), local('Scada-Italic'),
  url('../fonts/Scada-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Scada-Italic.woff') format('woff'),
  url('../fonts/Scada-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Scada';
  src: url('../fonts/Scada-Bold.eot');
  src: local('Scada Bold'), local('Scada-Bold'),
  url('../fonts/Scada-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Scada-Bold.woff') format('woff'),
  url('../fonts/Scada-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Scada';
  src: url('../fonts/Scada-BoldItalic.eot');
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'),
  url('../fonts/Scada-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Scada-BoldItalic.woff') format('woff'),
  url('../fonts/Scada-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
