/** Variables **/

// Grid breakpoints
$grid-breakpoints: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),
  $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
$container-max-widths: ();
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
    (
      sm: 540px,
      md: 720px,
      lg: 960px,
      xl: 1200px
    ),
    $container-max-widths
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

/** Grid columns */
$grid-columns:                12;
$grid-gutter-width:           1.25rem;

/** Colors */
$color-green:   #06bd85;
$color-red:     #ed0058;

$color-dark-black: #212529;

$color-gray-border: #d2d2d2;

$primary:       $color-green;
$secondary:     $color-red;

/** Fonts */
$headings-font-family: "Fira Sans", sans-serif;

/** */
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.5rem;
$input-btn-line-height: 1;

/** Buttons */
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
