/** Main layout styles */
.l-wrap {

  &--common {
    padding: 2rem 0;
  }

  &--full-width {
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 70px;
  }
}

.l-container {
  @include make-container();
  @include make-container-max-widths();
}

.l-row {
  @include make-row();

  &--no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .l-col,
    > [class*="l-col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--align-items-center {
    display: flex;
    align-items: center;
  }
}

@include make-ncm-grid-columns();

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}
