@keyframes slide-down {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%)
  }
  to {
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
