@mixin make-col-auto() {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@mixin make-col-pixels($size) {
  flex: 0 0 $size;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: $size;
}
