// Markets Map Page

.template-markets-map .l-wrap {
  background-color: $color-dark-black;
}

.markets-wrapper {
  color: white;
}

.markets-row {
  max-width: 680px;
}

.markets-map {
  line-height: 1.2;
}

.markets-map__title {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: inherit;
  margin-bottom: .2em;

  @media (min-width: 1200px) {
    font-size: 41px;
  }
}

.markets-map__description {
  font-size: 17px;
  margin-bottom: 25px;
  line-height: 1.2;

  @media (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.markets-map__description-text {
  display: none;
  vertical-align: middle;

  &.active {
    display: inline;
  }
}

.markets-map__indication-text {
  position: relative;
  font-family: "Scada", sans-serif;
  font-size: 14px;
  color: #969797;
  padding-left: 25px;
  margin-bottom: 25px;

  @media (min-width: 1200px) {
    display: none;

  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    background: linear-gradient(180deg, #06BD85 0%, #E6F8F3 50%, #FDE5EE 50.09%, #ED0058 100%);
  }
}

.markets-map-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.markets-map-buttons__button {
  color: #BBBBBB;
  background: #404144;
  border: 1px solid #969797;
  height: 48px;
  flex: 50% 0 0;
  font-size: 17px;
  cursor: pointer;
}

.markets-map-buttons__button--active {
  background: #616264;
  color: #fff;
}

.markets-map-buttons__button:focus {
  outline: none;
}

.single-markets h2 {
  margin-bottom: 1em;
}

.site-main .markets-table {
  border: none;
}

.markets-table {
  color: #ffffff;
  font-family: "Scada", sans-serif;
  line-height: 1.2;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  tbody {

    tr {
      border-top: 0;
      border-right: 0;
      border-bottom: 2px solid #59595C;
      border-left: 0;
      display: table-row;
    }

    th {
      font-weight: normal;
      font-size: 17px;
      color: #969797;
      border-top: 0;
      border-right: 0;
      border-bottom: 2px solid #59595C;
      border-left: 0;
      padding: 12px 5px;
      height: auto;
      vertical-align: middle;
      text-align: center;

      @media (min-width: 1200px) {
        font-size: 18px;
        border-bottom-width: 1px;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: center;
      }
    }

    th:nth-child(1) {
      padding-left: 0;
      text-align: left;
    }


    td {
      vertical-align: middle;
      padding: 10px;
      border: none;
    }

    .markets-table__market {
      padding-left: 0;
    }

    .markets-table__cap {
      width: 45%;
      background-color: #A2BEEE;
      color: #242528;
      border-bottom: 2px solid #59595C;
      text-align: center;
    }

    .markets-table__change {
      width: 20%;
      text-align: right;
      padding-right: 5px;
      padding-left: 5px;
      vertical-align: middle;

      @media (min-width: 768px) {
        padding-right: 12px;
        padding-left: 12px;
      }
    }

    a {
      color: inherit;
    }

    .markets-table__link {
      &:hover {
        color: #7179FE;
      }
    }
  }
}


.markets-table__cap-value {
  @media (min-width: 768px) {
    width: 120px;
    text-align: right;
    display: inline-block;
  }
}

.markets-map-chart {
  margin: 0;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 400px;
  }
}

.markets-map-chart__text {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  color: #242528;
  text-align: center;
}

.markets-map-chart__data {
  text-align: center;
  position: relative;
}

.markets-map-chart__wrapper {
  position: relative;
}

.ajax-chart-link {
  cursor: pointer;
}

.icon-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 13px;

  &--up {
    @extend .icon-arrow;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.70001 12.8V1.80002' stroke='%2306BD85' stroke-miterlimit='10'/%3e%3cpath d='M10.3 5.90001L5.70001 1.20001L1 5.90001' stroke='%2306BD85' stroke-miterlimit='10'/%3e%3c/svg%3e");
  }

  &--down {
    @extend .icon-arrow;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.7 0.200012V11.2' stroke='%23F13379' stroke-miterlimit='10'/%3e%3cpath d='M10.3 7.10002L5.7 11.8L1 7.10002' stroke='%23F13379' stroke-miterlimit='10'/%3e%3c/svg%3e");
  }
}

.icon-question {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21Z" fill="#A2BEEE"/> <path d="M11.046 4.47662C11.726 4.47662 12.3097 4.60128 12.797 4.85062C13.2957 5.08862 13.6697 5.41161 13.919 5.81962C14.1683 6.22762 14.293 6.66395 14.293 7.12862C14.293 7.57062 14.2137 7.95028 14.055 8.26762C13.9077 8.57362 13.7263 8.82295 13.511 9.01562C13.2957 9.20828 13.0067 9.43495 12.644 9.69562C12.168 10.0243 11.811 10.3303 11.573 10.6136C11.335 10.8856 11.216 11.2539 11.216 11.7186V12.4836H9.669V11.6336C9.669 11.1463 9.74833 10.7326 9.907 10.3926C10.077 10.0526 10.2753 9.78062 10.502 9.57662C10.7287 9.37262 11.029 9.14028 11.403 8.87962C11.8337 8.59628 12.151 8.34128 12.355 8.11462C12.559 7.88795 12.661 7.59328 12.661 7.23062C12.661 6.76595 12.508 6.40895 12.202 6.15961C11.896 5.89895 11.4767 5.76862 10.944 5.76862C10.0373 5.76862 9.24967 6.17662 8.581 6.99262L7.51 6.15961C8.462 5.03762 9.64067 4.47662 11.046 4.47662ZM10.485 14.2346C10.825 14.2346 11.1083 14.3479 11.335 14.5746C11.5617 14.8013 11.675 15.0789 11.675 15.4076C11.675 15.7363 11.5617 16.0196 11.335 16.2576C11.1083 16.4843 10.825 16.5976 10.485 16.5976C10.1563 16.5976 9.87867 16.4843 9.652 16.2576C9.42533 16.0196 9.312 15.7363 9.312 15.4076C9.312 15.0789 9.42533 14.8013 9.652 14.5746C9.87867 14.3479 10.1563 14.2346 10.485 14.2346Z" fill="#242528"/> </svg>');
}

.icon-question--description {
  margin-left: .3em;
  position: relative;

  @media (min-width: 1200px) {
    display: none;
  }

  .markets-how-read {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s 0s;
    position: absolute;
    font-style: normal;
    left: -100px;
    top: 30px;
    background: #242528;
    padding: 20px;
    border: 1px solid #969797;
    z-index: 11;
    width: 240px;
  }

  &.opened {
    .markets-how-read {
      opacity: 1;
      visibility: visible;
    }
  }
}

.markets-table .icon-arrow {

  &--up,
  &--down {
    margin-left: .5em;

    @media (min-width: 768px) {
      margin-left: 1em;
    }
  }
}

.markets-table-more {
  color: #A2BEEE;
  font-family: "Scada", sans-serif;
  font-size: 17px;
  line-height: 26px;
  background: none;
  border: 0;
  border-bottom: 1px solid;
  padding: 0;
  display: block;
  margin: 16px auto;
  opacity: .76;
  cursor: pointer;

  @media (min-width: 1200px) {
    font-size: 18px;
  }

  &:focus,
  &:hover {
    outline: none;
  }
}

#chart circle {
  display: block;
  background-color: #FFFFFF;
}

#chart circle.fillcolor {
  fill: white;
}

.market-description {
  color: white;
  margin: 2rem 0;

  &.with-img {
    @media (min-width: 768px) {
      display: flex;
    }

    .market-description__img {
      display: block;

      @media (min-width: 1200px) {
        max-width: none;
        flex: 580px 0 0;
      }
    }
  }
}

.market-description__title {
  font-size: 2em;
  text-align: center;
  margin-bottom: .7em;
  line-height: .8;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.market-description__description {
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.market-description__coins {
  font-size: 13px;
  margin: 1em 0;
  /*
  &.opened {
    .market-description__coins-body {
      max-height: 1000px;
      -webkit-line-clamp: unset;
    }
  }
  */
}

.market-description__coins-body {
  font-weight: 400;
  max-height: 57px;
  color: #969797;
  // transition: max-height 1s 0s;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.market-description__coins-caption {
  color: white;
}

.market-description__img {
  margin-bottom: 20px;
  display: none;

  @media (min-width: 768px) {
    max-width: 33%;
    margin-right: 20px;
  }
}

.market-description__show-all {
  margin-top: 10px;
}

.market-description__btn {
  color: #A2BEEE;
  font-size: 16px;
  line-height: 1;
  background: none;
  border: 0;
  border-bottom: 1px solid;
  padding: 0;
  display: inline-block;
  opacity: .76;
  cursor: pointer;
  font-family: "Scada", sans-serif;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.market-description__btn:hover {
  color: #A2BEEE;
}

.ajax-market-posts {
  color: white;
}

.market-posts {
  margin: 20px 0;
}

.market-posts__caption {
  border-bottom: 1px solid;
  font-family: "Scada", sans-serif;
  font-size: 31px;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: 500px) {
    text-align: left;
  }
}

.market-posts__see-all {
  font-family: "Scada", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: #969797;
  transition: color .5s 0s;
  display: block;

  @media (min-width: 500px) {
    display: inline-block;
  }

  &:hover {
    color: white;
  }
}

.market-posts__line {
  color: #969797;
  font-size: 27px;
  margin: 0 .5em;
  vertical-align: top;
  display: none;

  @media (min-width: 500px) {
    display: inline-block;
  }
}

.market-posts__body {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: 992px) {
    justify-content: flex-start;
  }
}

.market-post {
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-bottom: 25px;
    flex: 49% 0 0;
  }

  @media (min-width: 992px) {
    flex: calc(33.33% - 15px) 0 0;
    margin-right: 22px;
  }

  &:nth-child(3n+3) {
    @media (min-width: 992px) {
      margin-right: 0;
    }
  }
}

.market-post__title {
  color: white;
  font-family: "Scada", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2em;
}

.market-post__content {
  font-size: .8em;
}

.market-post__img {
  height: 200px;
  background: url(assets/images/placeholder-market.png) center no-repeat;
  background-size: cover;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    max-width: none;
  }
}

.markets-total {
  font-family: "Scada", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  font-size: 18px;

}

.markets-total__body {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    margin-right: 30px;
  }
}

.markets-total__title {
  font-size: 1.7em;
  margin-bottom: 1em;
}

.markets-total__24vol {
  margin-bottom: .8em;
}

.markets-total__sum {
  display: block;
  font-weight: 300;
  white-space: nowrap;
}

.markets-total__updated {
  font-family: "Scada", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #969797;

  @media (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.markets-how-read {
  display: none;
  position: absolute;
  top: 60px;
  left: calc(100% + 100px);
  width: 200px;
  font-size: 14px;
  font-family: "Scada", sans-serif;
  color: #969797;

  @media (min-width: 1200px) {
    display: block;
  }
}

.markets-how-read__title {
  font-size: 18px;
  margin-bottom: 20px;
  color: #EDEDED;
}

.markets-indication__text {
  margin-bottom: 20px;
}

.markets-indication__line {
  background: linear-gradient(90deg, #06BD85 0.02%, #E6F8F3 50.01%, #FDE5EE 50.1%, #ED0058 100.01%);
  height: 15px;
  margin-bottom: 60px;
  position: relative;
}

.markets-indication__null {
  position: absolute;
  left: 50%;
  top: 100%;
  font-size: 18px;
  margin-left: -.25em;
  margin-top: 2px;
}

.markets-indication__arrow {
  position: absolute;
  top: 100%;
  margin-top: 5px;

  &--up {
    left: 0;
  }

  &--down {
    right: 0;
  }
}

.markets-circles__text {
  margin-bottom: 15px;
}

.markets-circles__body {
  position: relative;
}

.markets-circles__circle {
  border-radius: 50%;
  border: 1px dashed #969797;

  &--big {
    width: 68px;
    height: 68px;
    position: relative;
  }

  &--small {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -1px;
    left: 23px;
  }
}

.markets-circles__legend {
  position: absolute;

  left: 100px;

  &--big::before,
  &--small::before {
    position: absolute;
    background: #59595C;
    height: 1px;
    top: 7px;
  }

  &--big {
    top: 20px;

    &::before {
      content: '';
      width: 20px;
      left: -32px;
    }
  }

  &--small {
    top: 50px;

    &::before {
      content: '';
      width: 39px;
      left: -51px;
    }
  }
}

.circle-tooptip {
  display: none;
  transition: opacity .5s 0s;
  background: #404144;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 250px;
  line-height: 1.4;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #969797;
  text-align: left;
}

.circle-tooptip__title {
  width: 80px;
  display: inline-block;
}

.circle-tooptip__value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 80px);
}

.circle-desc__text {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-shadow: 0 0 2px white;
  display: inline-block;
  vertical-align: middle;
  padding: 4px;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.circle-desc__helper {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 0;
  height: 100%;
}

.block-loading {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  background: url(assets/images/loading.gif) center no-repeat;
  background-size: contain;
}

.market-vote {
  margin: 30px 0;
}

.market-vote__btn {
  cursor: pointer;
}

.market-vote__body {
  margin-top: 20px;
  color: black;
}

.market-vote .totalpoll-question {
  color: white;
}

.market-vote .totalpoll-button-results {
  color: white !important;
}

.markets-bubble {
  position: absolute;
  width: 370px;
  left: 550px;
  top: 195px;
  z-index: 2;
  background: #1FC491;
  font-size: 31px;
  font-weight: 400;
  color: white;
  padding: 25px 40px;
  border-radius: 25px 25px 25px 0;
  box-shadow: 0 0 0 1px #242528;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s 0s, visibility .5s 0s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 33px 0 0;
  }

  &::before {
    z-index: 1;
    border-color: #1fc490 transparent transparent transparent;
  }

  &::after {
    border-color: #000 transparent transparent transparent;
    margin-left: -1px;
    margin-top: 1px;
    border-width: 41px 35px 0 0;
  }
}
