.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

#anycomment-root .anycomment-btn,
#anycomment-root .anycomment-btn:not([disabled]):active,
#anycomment-root .anycomment-btn:not([disabled]):focus,
#anycomment-root .anycomment-btn:not([disabled]):hover,
#anycomment-root .input[type="submit"],
#anycomment-root .input[type="submit"]:not([disabled]):active,
#anycomment-root .input[type="submit"]:not([disabled]):focus,
#anycomment-root .input[type="submit"]:not([disabled]):hover,
#anycomment-root input + .input[type="button"],
#anycomment-root input + .input[type="button"]:not([disabled]):active,
#anycomment-root input + .input[type="button"]:not([disabled]):focus,
#anycomment-root input + .input[type="button"]:not([disabled]):hover {
  border-radius: 0;
}
