.site-logo {
  display: block;
}

.svg-logo-main {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    width: 200px;
    height: 66px;
    &__text {
      fill: $gray-900;
    }
  }
}

.svg-logo-mobile {
  display: block;
  width: 48px;
  height: 48px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
