.nav-main {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  font-family: "Scada", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-main .nav__link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  color: $gray-900;

  @include hover-focus {
    text-decoration: none;
  }
}

.nav-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-family: "Scada", sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-categories .nav__link {
  display: block;
  padding: 1rem 1.5rem;
  color: $white;
}

.nav-categories .nav__item--active .nav__link {
  display: block;
  padding: 1rem 1.5rem;
  color: $primary;
}
