.ncm-articles-banner {

}

.ncm-articles-banner__list {

}

.ncm-articles-banner__item {
  position: relative;
}

.ncm-articles-banner__item--first {
  &::before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.75) 100%);
  }
}

.ncm-articles-banner__item--next {
  min-height: 33.333%;
  border-bottom: 1px solid #d2d2d2;

  &:last-child {
    border-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    min-height: 90px;
  }
}

.ncm-articles-banner__item-content {
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.ncm-articles-banner__item-image {
  position: relative;
  @include img-fluid();
  max-height: 480px;
}

.ncm-articles-banner__item-image--first {

}


.ncm-articles-banner__item-title {

}

.ncm-articles-banner__item-link {
  display: block;
  font-size: 1rem;
  line-height: 1;
  color: #222;

  @include hover-focus {
    color: $primary;
    text-decoration: none;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
  }
}

.ncm-articles-banner__item-link--first {
  color: $white;
  font-size: 3rem;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

.ncm-articles--all {
  margin-top: 0.625rem;
}

.front-page-content .alm-listing .alm-reveal > li {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid $color-gray-border;
  overflow: hidden;
  position: relative;
  list-style: none;
}

.newconomy-frontpage .alm-reveal h3 {
  font-size: 1.125rem;
  margin: 0!important;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: .85rem;
  }
}

.category .alm-reveal h3 {
  font-size: 1.5rem;
  margin: 0!important;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: .85rem;
  }
}

.newconomy-frontpage .alm-reveal .entry-meta {
  font-family: "Scada", sans-serif;
  font-size: .85rem;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

.category .alm-reveal h3 > a,
.newconomy-frontpage .alm-reveal h3 > a {
  color: $color-dark-black;
}

.alm-listing .alm-reveal > li > .l-row {
  display: flex;
  align-items: center;
  min-height: 160px;

  @include media-breakpoint-down(sm) {
    min-height: 120px;
  }
}

.alm-listing .alm-reveal:first-child > li > .l-row {
  display: flex;
  align-items: center;
  min-height: 0;
  padding: 1rem 0;
}

.alm-listing .alm-paging-content > li img,
.alm-listing .alm-reveal > li img,
.alm-listing > li img {
  position: relative !important;
  border-radius: 0 !important;
}

.newconomy-frontpage .alm-listing .alm-reveal:first-child > li img {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.alm-btn-wrap .alm-load-more-btn {
  font-size: 1rem!important;
  background: $secondary!important;
  border-radius: 0!important;
}
