.instabutton {
  display: inline-block;
  min-height: 60px;
  width: 100%;
  background-color: #2f30ce;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/InstaButton_Blue.png);

  @include media-breakpoint-down(lg) {
    background-size: 95% 90%;
  }
}
