.newconomy-rss {
  list-style: none;
  padding-left: 0;
}

.newconomy-rss__item {
  word-wrap: break-word;
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem 0;
  &:last-child {
    border: none;
  }
}

.newconomy-rss__link {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  color: #222;
}

.newconomy-rss__datetime {
  font-family: "Scada", sans-serif;
  font-size: .875rem;
  color: #969696;
}
