.entry-tags {
  @include list-unstyled;
}

.entry-tags li {
  display: inline-block;
}

.entry-tags a {
  font-family: "Scada", sans-serif;
  color: $color-dark-black;
  background-color: $white;
  margin: 0.25rem 0.125rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid $color-dark-black;
  transition: color .5s, background-color .5s;

  @include hover-focus {
    text-decoration: none;
    color: $white;
    background-color: $primary;
  }
}
