.u-align-items-center {
  display: flex;
  align-items: center;
}

.u-justify-content-center {
  display: flex;
  justify-content: center;
}

.u-justify-content-between {
  display: flex;
  justify-content: space-between;
}

.u-hide-nomobile {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.u-hide-mobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.u-image-fluid {
  @include img-fluid;
}
